    <footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Categoria</h3>
            <ul class="list-unstyled">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Design Gráfico</a></li>
              <li><a href="#">Desenvolvedores Web</a></li>
              <li><a href="#">Python</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Empresa</h3>
            <ul class="list-unstyled">
              <li><a href="#">Sobre Nós</a></li>
              <li><a href="#">Carreira</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Recursos</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Suporte</h3>
            <ul class="list-unstyled">
              <li><a href="#">Suporte</a></li>
              <li><a href="#">Privacidade</a></li>
              <li><a href="#">Termos de Serviço</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Contate-nos</h3>
            <div class="footer-social">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>
              <!-- O link de volta para o Colorlib não pode ser removido. O modelo está licenciado sob CC BY 3.0. -->
            Direitos Autorais &copy; <a>Kenai</a>
            <!-- O link de volta para o Colorlib não pode ser removido. O modelo está licenciado sob CC BY 3.0. --></small></p>
          </div>
        </div>
      </div>
    </footer>

    </div>