{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- INÍCIO -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/headbg.png' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white font-weight-bold">Atualizar Perfil</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Início</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Atualizar Perfil</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <form method="post" class="my-class">
    {% csrf_token %}
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-md-6">
          {{ form.last_name|as_crispy_field }}
        </div>
        <div class="col-md-6">
          {{ form.email|as_crispy_field }}
        </div>
        <div class="col-md-3">
          {{ form.telefone|as_crispy_field }}
        </div>
        <div class="col-md-3">
          {{ form.gender|as_crispy_field }}
        </div>
        <div class="col-md-3">
          {{ form.cep|as_crispy_field }}
        </div>
        <div class="col-md-6">
          {{ form.rua|as_crispy_field }}
        </div>
        <div class="col-md-3">
          {{ form.numero|as_crispy_field }}
        </div>
        <div class="col-md-4">
          {{ form.bairro|as_crispy_field }}
        </div>
        <div class="col-md-4">
          {{ form.cidade|as_crispy_field }}
        </div>
        <div class="col-md-4">
          {{ form.estado|as_crispy_field }}
        </div>
      </div>
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary mb-5">Atualizar</button>

      </div>
    </div>
</form>
</section>


{% endblock %}
