{% extends 'base.html' %}
{% load static %}
{% load get_total_applicant %}
{% block content %}

<section class="section-hero overlay inner-page bg-image"
    style="background-image: url('{% static 'images/headbg.png' %}');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Painel de Controle</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'jobapp:home' %}">Início</a> <span class="mx-2 slash">/</span>
                    <a href="{% url 'jobapp:job-list' %}">Vagas</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Painel de Controle</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                {% include 'messages.html' %}

                <div class="card">
                    {% if user.role == "employer" %}
                    <h5 class="card-header text-center">Minhas Vagas</h5>
                    {% if jobs %}
                    <table class="table text-center mt-5">
                        <thead class="thead-dark">
                            <tr>
                                <th>Título da Vaga</th>
                                <th>Data de Publicação</th>
                                <th>Data de Expiração</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                            <tr id="row_{{ job.id }}">
                                <td class="text-left"><a href="{% url 'jobapp:single-job' job.id %}">{{ job.title }}</a></td>
                                <td>{{ job.timestamp | date:'d/m/Y'  }}</td>
                                <td>{{ job.last_date | date:'d/m/Y' }}</td>
                                <td>
                                    {% if job.status == '1' %}
                                        <span class="badge badge-info">Buscando Profissional</span>
                                    {% elif job.status == '2' %}
                                        <span class="badge badge-success">Em andamento</span>
                                    {% elif job.status == '3' %}
                                        <span class="badge badge-danger">Aprovação do Cliente</span>
                                    {% elif job.status == '4' %}
                                        <span class="badge badge-warning">Solicitado Alteração</span>
                                    {% elif job.status == '5' %}
                                        <span class="badge badge-primary">Aguardando Pagamento</span>
                                    {% elif job.status == '6' %}
                                        <span class="badge badge-secondary">Finalizado</span>
                                    {% elif job.status == '7' %}
                                        <span class="badge badge-dark">Cancelado</span>
                                    {% endif %}
                                
                                </td>

                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm" href="{% url 'jobapp:edit-job' job.id %}"
                                        role="button">Editar</a>
                                    {% if job.is_published == True %}
                                        {% if job.is_closed == False %}
                                        <span id="change_job_status_{{ job.id }}">
                                            <button onclick="call_sw_alert_func('{% url 'jobapp:complete' job.id %}','{{ job.id }}', 'Uma vez clicado, sua postagem será marcada como concluída')" class="text-white btn btn-success btn-sm" >Fechar</button>
                                        </span>
                                        {% else %}
                                        <a class="text-white btn btn-success btn-sm" 
                                        role="button">Fechada</a>                                    
                                        {% endif %}
                                        {% endif %}
                                    <button onclick="call_sw_alert_func('{% url 'jobapp:delete' job.id %}','{{ job.id }}','Uma vez excluída, você não poderá recuperar esta postagem!')" class="btn btn-danger btn-sm">Excluir</button>
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p class="m-5">Você ainda não possui nenhuma vaga! <a href="{% url 'jobapp:create-job' %}">Crie uma nova.</a></p>
                    {% endif %}
                    {% elif user.role == "employee" %}


                    <ul class="mb-3 nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Vagas Favoritas</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Vagas Aplicadas</a>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h5 class="card-header text-center">Postagens Favoritas</h5>
                            {% if savedjobs %}
                            <table class="table text-center mt-5">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Título da Vaga</th>
                                        <th>Data de Publicação</th>
                                        <th>Data de Expiração</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job in savedjobs %}
                                    <tr id="row_{{ job.id }}">
                                        <td><a href="{% url 'jobapp:single-job' job.job.id %}">{{ job.job.title }}</a></td>
                                        <td>{{ job.timestamp | date:'d/m/Y'  }}</td>
                                        <td>{{ job.job.last_date | date:'d/m/Y' }}</td>
                                        <td>
                                            <button onclick="call_sw_alert_func('{% url 'jobapp:delete-bookmark' job.id %}','{{ job.id }}','Uma vez excluída, esta postagem será removida da sua lista de favoritos!')" class="btn btn-danger btn-sm">Excluir</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p class="m-5">Você ainda não possui nenhuma vaga salva! </p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h5 class="card-header text-center">Postagens Aplicadas</h5>
                            {% if appliedjobs %}
                            <table class="table text-center mt-5">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Título da Vaga</th>
                                        <th>Data de Publicação</th>
                                        <th>Data de Expiração</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job in appliedjobs %}
                                    <tr id="row_{{ job.id }}">
                                        <td><a href="{% url 'jobapp:single-job' job.job.id %}">{{ job.job.title }}</a></td>
                                        <td>{{ job.timestamp | date:'d/m/Y'  }}</td>
                                        <td>{{ job.job.last_date | date:'d/m/Y' }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p class="m-5">Você ainda não se candidatou a nenhuma vaga! </p>
                            {% endif %}
                        </div>
                        
                      </div>

                    {% endif %}

                </div>
            </div>
        </div>

    </div>
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/sweet-alert.js' %}"></script>
    <script src="{% static 'js/sweet-alert-ajax.js' %}"></script>
{% endblock %}
