{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/headbg.png' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Enviar Material</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Início</a> <span class="mx-2 slash">/</span>
              <a href="#">Projeto</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Enviar Material</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <section class="site-section">
      <div class="container">

        <div class="row align-items-center mb-5">
          <div class="col-lg-12 mb-4 mb-lg-0">
              <div class="text-center">
                <h2>Importe a prévia e cole o link do arquivo em alta</h2>
                
              </div>
              {% include 'messages.html' %}
          </div>
        </div>
        <form  method="POST" enctype="multipart/form-data">
        <div class="row mb-5 p-4 p-md-5 border rounded">
          <div class="col-lg-12">
            {% csrf_token %}
            <div class="row">
                    <div class="col-md-12">
                        {{ form|crispy }}
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
            </div>

          </div>
            </form>
      </div>
      

        </div>
      </div>
    </section>
{% endblock %}