{% extends 'base.html' %}
{% load static %}
  {% block content %}
  {% load crispy_forms_tags %}

    <!-- INÍCIO -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/headbg.png' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Publicar um trabalho</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Início</a> <span class="mx-2 slash">/</span>
              <a href="#">Trabalho</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Publicar um trabalho</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <section class="site-section">
      <div class="container">

        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div>
                <h2>Do que você precisa?</h2>
              </div>
            </div>
          </div>
        </div>
        <form  method="POST" enctype="multipart/form-data">
          {% csrf_token %}        
        <div class="row align-items-center mb-5">
              <div class="col-md-12">
                {{ form.title|as_crispy_field }}
              </div>
              <div class="col-md-12">
                {{ form.location|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {{ form.job_type|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {{ form.proporcional|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {{ form.tempo_video|as_crispy_field }}
              </div>
              <div class="col-md-12">
                {{ form.description|as_crispy_field }}
              </div>
              <div class="col-md-6 mt-4">
                {{ form.tags|as_crispy_field }}
              </div>
              <div class="col-md-3">
                {{ form.salary|as_crispy_field }}
              </div>
              <div class="col-md-3">
                {{ form.last_date|as_crispy_field }}
              </div>

                <input class="btn btn-block btn-primary btn-md" type="submit" value="Enviar" >
              </div>
            </div>
          </div>
            </form>

        </div>
      </div>
    </section>

    <script>
      
    </script>
{% endblock %}