{% extends 'base.html' %}
{% load static %}
  {% block content %}

    <!-- INÍCIO -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/headbg.png' %});" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Publicar um Emprego</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Início</a> <span class="mx-2 slash">/</span>
              <a href="#">Emprego</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Editar Emprego</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <section class="site-section">
      <div class="container">

        <div class="row align-items-center mb-5">
          <div class="col-lg-12 mb-4 mb-lg-0">
              <div class="text-center">
                <h2>Editar Emprego</h2>
                
              </div>
              {% include 'messages.html' %}
          </div>
        </div>
        <form  method="POST" enctype="multipart/form-data">
        <div class="row mb-5 p-4 p-md-5 border rounded">
          <div class="col-lg-12">
              <h3 class="text-black mb-5 border-bottom pb-2">Detalhes do Emprego</h3>
                  {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ field.label }}: {{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
            {% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'job_type'  %}
                        <div class="form-group">
                        <label for="job-type">Tipo de Emprego</label>
                        <select name="job_type" class="selectpicker border rounded" id="job-type" data-style="btn-black" data-width="100%" data-live-search="true" title="Selecione o Tipo de Emprego">
                            
                            
                          <option value="1" {% if field.value == '1' %} selected {% endif %}>Edição de vídeo</option>
                          <option value="2" {% if field.value == '2' %} selected {% endif %}>Captação de imagem</option>
                          <option value="3" {% if field.value == '3' %} selected {% endif %}>Design Gráfico</option>
                          <option value="4" {% if field.value == '4' %} selected {% endif %}>Web Design</option>
                          <option value="5" {% if field.value == '5' %} selected {% endif %}>Animação 2d/3d</option>
                          <option value="6" {% if field.value == '6' %} selected {% endif %}>Motion Designer</option>
                          <option value="7" {% if field.value == '7' %} selected {% endif %}>Produtor</option>
                          <option value="8" {% if field.value == '8' %} selected {% endif %}>Roteirista</option>
                          <option value="9" {% if field.value == '9' %} selected {% endif %}>Social Média</option>
                          
                        </select>
                        </div>
                    
                    {% elif field.name == 'category' %}
                        <div class="form-group">
                        <label for="job-type">Categoria</label>
                        <select name="category" class="selectpicker border rounded" id="job-type" data-style="btn-black" data-width="100%" data-live-search="true" title="Selecione a Categoria">
                              
                              {% for category in categories %}
                              
                                    <option value="{{ category.id }}" {% if category.id  ==  field.value %} selected {% endif %}>{{ category.name }}</option>

                              {% endfor %}


                             
                        </select>
                        </div>
                        
                        {% elif field.name == 'last_date' %}
                        <div class="form-group">
                          <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
                          <input type="{{ field.field.widget.input_type }}"
                                 class="form-control appointment_date"
                                 name="{{ field.name }}"
                                 id="id_{{ field.name }}"
                                 value="{{ field.value|date:"Y-d-m" }}"
                                 placeholder="{{ field.field.widget.attrs.placeholder }}">
                                 
                      </div>

                        {% elif field.name == 'description' %}
                              <div class="form-group">
                                <label for="job-type">Descrição</label>
                                 <div class="">
                                  {{ form.media }}
                                  {{ form.description }}
                              </div>
                              </div>
                        {% elif field.name == 'company_description' %}
                              <div class="form-group">
                                <label for="job-type">Descrição da Empresa</label>
                              <div class="">
                                
                                  {{ form.media }}
                                  {{ form.company_description }}
                              </div>
                              </div>
                        {% else %}
                          {% if field.name == 'company_name'%}
                              <h3 class="text-black mt-5 mb-5 border-bottom pb-2">Detalhes da Empresa</h3>
                          {% endif%}
                        <div class="form-group">
                            <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}"
                                   class="form-control"
                                   name="{{ field.name }}"
                                   id="id_{{ field.name }}"
                                   value="{{ field.value }}"
                                   placeholder="{{ field.field.widget.attrs.placeholder }}">
                        </div>
                    {% endif %}
                {% endfor %}
          </div>    
        </div>

        
        <div class="row align-items-center mb-5">
          <div class="col-lg-4 ml-auto">
            <div class="row">
              <div class="col-6">

                <input class="btn btn-block btn-primary btn-md" type="submit" value="Atualizar" >
              </div>
            </div>
          </div>
            </form>

        </div>
      </div>
    </section>
{% endblock %}