<div class="row mb-5">
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
    <input type="text"  name="job_title_or_company_name" class="form-control form-control-lg" placeholder="Cargo, Empresa...">
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
    <input type="text"  name="location" class="form-control form-control-lg" placeholder="Localização">
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
    <select  name="job_type" class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true"
      title="Selecione o Tipo de Vaga">
      <option value="1">Edição de vídeo</option>
      <option value="2">Captação de imagem</option>
      <option value="3">Design Gráfico</option>
      <option value="3">Web Design</option>
      <option value="4">Animação 2d/3d</option>
      <option value="5">Motion Designer</option>
      <option value="6">Produtor</option>
      <option value="7">Roteirista</option>
      <option value="8">Social Média</option>

    </select>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
    <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span
        class="icon-search icon mr-2"></span>Encontrar Trabalho</button>
  </div>
</div>
